body {
    background-color: lightgrey;
    font-family: sans-serif

    
}

#header-img {
    width: 40px;
}

#video {
    width: 200px;
    height: auto;
    margin-left: 20px;
    
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

p {
    margin: 10px;
    text-align: justify;
    font-size: 10px;
}

#header {
    background-color: white;
    color: royalblue;
    position: sticky;
    margin: auto;
    top: 0%;
}

.nav-link {
    color:mediumblue;
    margin: 10px;  
    font-size: 10px;      
}

h2 {
    margin: 10px;
}

h1 {
    margin: auto;
    margin-left: 20px;
}

span {
    margin-left: 20px;
}

#email {
    margin: 10px;
    margin-left: 10px;
}

#email-label {
    margin: 10px;
}

@media (max-width: 600px)
{
  #header {
    display:block;}       
}

.flex-container {
    display: flex;
    flex-direction: column;
}